:root {
  --primeri-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primeri-text-color);
}
.example-text {
  color: teal;
}
